@import url('https://fontx.googleapis.com/css2?family=Gufaz+One&family=Nunito&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font:inherit;
}

:root {
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, (var(--BGCOLOR)), var(--BGCOLOR-FADE));
    --BODY_BGCOLOR: #FFF;
    --FONT-COLOR: #000;
}

